<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
       @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div data-role="page">           
            <div data-role="header">
                <h1>Money Collector</h1>
                @Html.ActionLink("New Reciept", "Index", "Home")
                @Html.ActionLink("History", "Index", "History")
            </div>

            <div data-role="content">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div data-role="page">

        @RenderSection("scripts", required: false)
    </body>
</html>
